# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/scripts
!/workers
!/.github
!pnpm-workspace.yaml
!tsconfig.json
!astro.config.ts
!.prettierrc.mjs
!package.json
!.prettierrc
!eslint.config.js
!README.md

# Generated verbatim by `wrangler types`.
/workers/claps/worker-configuration.d.ts
